- We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

- In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [33]:
#import library 
import pandas as pd
import numpy as np
from scipy.stats import t

In [6]:
data = pd.read_excel('machine.xlsx')
data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [24]:
data = data.rename(columns={"    Old machine": "Old machine"})

First, we need to set the hypothesis:
- H0: New machine on the average will pack as fast as the old one 
- Ha: New machine will pack faster on the average than the old one (the average speed new < the average speed old)

Use the left-tailed test

Second, we will set the signifiance level, α = 0.05. 
If p<=α, we will reject H0.

In [25]:
#calculate mean value 
avg_new = data['New machine'].mean()
avg_old = data['Old machine'].mean()

In [26]:
#calculate standard variations 
std_new = data['New machine'].std()
std_old = data['Old machine'].std()

In [27]:
n = data['Old machine'].count()

In [42]:
numerator = avg_new - avg_old
denominator = np.sqrt((std_new**2) / n + (std_old**2) /n)
t_stat = numerator / denominator

In [46]:
t_stat

-3.397230706117603

In [31]:
degree_of_freedom = n+n-2

In [49]:
t.cdf(t_stat, df = degree_of_freedom)

0.0016055712503872579

P value is smaller than signifiance level, we reject the null hypothesis. New machine will pack faster on the average than the old one (the average speed new < the average speed old)